<div class="d-flex flex-row bd-highlight mb-3">

        <div class="form-froup row" style="width: 60;">

                <label class="col-sm-2 col-form-label">Nom du de l'employe</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" [(ngModel)] = 'EmployeeName' placeholder="Entrez le nom de l'employe">
                </div>

                <label class="col-sm-2 col-form-label">Departement</label>
                <div class="col-sm-10">
                  <select class="form-controle" [(ngModel)] = 'Department'>
                    <option>--Selectionner--</option>
                    <option *ngFor="let depName of DepartmentList">{{depName.DepartmentName}}</option>
                  </select>
                </div>

                <label class="col-sm-2 col-form-label">Date d'embauche </label>
                <div class="col-sm-10">
                  <input type="date"  [(ngModel)] = 'DateOfJoining' placeholder="Entrez le nom de l'employe">
                </div>

        </div>

        <div class="ml-3 bd-highlight" style="width: 40;">

              <img [src]=PhotoFilePath height="250px" width="200px" alt="">
              <input type="file" (change)="uploadPhoto($event)" class="mt-2"/>

        </div>
</div>

<button (click)="addEmployee()" *ngIf="emp.EmployeeId==0" class="btn btn-primary">Ajouter</button>
<button (click)="updateEmployee()" *ngIf="emp.Employee!=0" class="btn btn-primary">Modifier</button>
